<div style = "display:flex;">
  <div class = "none" style = "width:10%;">
  </div>
  <div class = "main-contents" style = "width:80%;flex-direction: column;height:100%;">
    <div style = "width:100%;">
      <div class = "navi" style = "display:flex;">
        <h2 style = "padding-left:10px;">EnginStududents</h2>
        <div class = "menu" style = "margin: auto 0 auto auto;display:flex;">
          <h4><a href = "/users/sign_up" style = "text-decoration:none;color:black;padding-right:10px;padding-left:10px;">SignUp</a></h4>
          <h4><a href = "/users/sign_in" style =  "text-decoration:none;color:black;padding-right:10px;padding-left:10px;">Login</a></h4>
          <h4><a href = "/tweets" style = "text-decoration:none;color:black;padding-right:10px;padding-left:10px;">HOME</a></h4>
        </div>
      </div>
    </div>
    <div class = "main" style = "display:flex;" width = "100%">
      <div class = "font-area" style = "width:50%;font-size:56px;">
        <h1 style = "margin:0px;">Program info is here</h1>
      </div>
      <div class = "log-area" style = "width:50%;">
      </div>
    </div>
    <div class = "footer" style = "width:100%;background:#3e3e3e;">
      <h1>Flutter</h1>
    </div>
  </div>
  <div class = "none" style = "width:10%;height:100%;">
    
  </div>
</div>